
<h1>Tweets</h1>

<table>
  <tr>
    <th>Messages</th>
    <th>Actions</th>
    <tr>
      <% @tweets.each do |tweet| %>
      <td><%= tweet.body %> </td>
      <td><%= link_to 'Show', tweet_path(tweet.id) %></td>
      <td><%= link_to 'Edit', edit_tweet_path(tweet.id)%></td>
      <td><%= link_to 'Add New', new_tweet_path(tweet.id)%></td>
    </tr>
  </tr>
  <% end %>
</table>
